body {
  margin: 0;
  padding: 0;
  background: lightgrey;
}

header {
  background: green;
  width: 100%
}

h1 {
  margin: 0;
  padding: 10px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3em 0;
  width: 100%;
}

.sensor-box {
 background: white;
 padding: 10px;
 flex-grow: 100;
 margin: 3vw;
 min-width: 40%;
 border-radius: 10px;
}

.sensor-name {
 margin: 10px;
 background: lightgreen;
 position: relative;
 top: -35px;
 padding: 7px;
 width: 65%;
}

.sensor-varde{
  margin: 10px 0;
  background: pink;
  padding: 10px;
}

p {
  border-radius: 10px;
}

span {
  float: right;
}


.sensor-add-button {
  background: white;
  float: right;
  padding: 10px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  position: sticky;
  bottom: 10px;
  right: 10px
}
