:root {
  --main-color: #009982;
}

body {
  margin: 0;
  padding: 0;
  background: lightgrey;
  min-height: 100vh;
  background-image: url(vaxthuset.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  font-family: Montserrat;
}

header {
  background: var(--main-color);
  width: 100%;
  box-shadow: 2px 2px 20px 5px rgba(50, 50, 50, 0.45);


}

h1 {
  padding: 2vh 0;
  margin: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3em 0;
  width: 100%;
}

.sensor-box {
  background: white;
  padding: 10px;
  flex-grow: 100;
  margin: 3vw;
  min-width: 40%;
  max-width: 700px;
  border-radius: 20px;
  border: 2px solid #00000075;
  box-shadow: 2px 2px 20px 5px rgba(50, 50, 50, 0.45);

}

.sensor-name {
  margin: 10px;
  position: relative;
  padding: 7px;
  background: white;
  bottom: 39px;
  border: 2px solid #8a8a8a;
  width: max-content;
  border-radius: 15px;

  font-size: 3vh;


}

.sensor-varde{
  margin: 10px auto 20px auto;
  background: lightgray;
  padding: 10px;
  border: 2px solid #0000003b;
  border-radius: 15px;

  width: 90%;

  position: relative;
  top: -20px;
}

p {
  border-radius: 10px;
}

.varde {
  float: right;
}


.sensor-add-button {
  background: white;
  border-radius: 40%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 10vh;
  box-shadow: 2px 2px 20px 5px rgba(50, 50, 50, 0.45);
  width: 7vh;
  height: 7vh;
}

.sensor-add {
  background: white;
  padding: 10px;
  position: absolute;
  top: 30%;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 35%;
  border-radius: 20px;
  border: 2px solid #00000038;
  box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.75);
}

.sensor-add-box {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

}

.btn-close {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 30px;
  height: 30px;
  border-radius: 45%;
  border-style: none;
  font-size: medium;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.84);
}

.btn-close:hover {
  background:#b6aeae;
  color:#4e1616;
  transition: .5s;
}

button{
  padding: 0;
  border: none;
  border-radius: 30px;
}

button, input {

}

input {
  display: block;
  padding: 10px;
  width: 90%;
  margin: 16px 6px auto auto;
  border-radius: 15px
}

.btn-add {
  margin: 10px auto 0 auto;
  display: block;
  padding: 10px;
  background: var(--main-color);

}

.credit-badge {
  position: absolute;
  color: #3b383852;
  font-size: 11px;
  bottom: 0;
  margin: 0;
}
@media (max-width: 500px) {
  .sensor-add{
    width: 60%;
  }
}
